<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="9f8bb153-51ff-4c44-b51e-854b1fdfc452"
            Publisher="CN=Jianwei"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>PhysicsEngine</DisplayName>
    <PublisherDisplayName>Jianwei</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="PhysicsEngine.App">
        <VisualElements
            DisplayName="PhysicsEngine"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="PhysicsEngine"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>